In [1]:
!pip install "pymongo[srv]"

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting pymongo[srv]
  Downloading pymongo-4.13.2-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Downloading pymongo-4.13.2-cp312-cp312-win_amd64.whl (903 kB)
   ---------------------------------------- 0.0/903.3 kB ? eta -:--:--
   ---------------------------------- ----- 786.4/903.3 kB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 903.3/903.3 kB 3.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.13.2

WARNING: pymongo 4.13.2 does not provide the extra 'srv'

In [2]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [ ]:
uri = "mongodb+srv://USERNAME:PASSWORD@udsb1monal.n1seivl.mongodb.net/?retryWrites=true&w=majority&appName=UDSB1Monal"

In [4]:
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
client.list_database_names()

['datascience_batch_1_dummy', 'sample_mflix', 'admin', 'local']

In [7]:
db = client.datascience_batch_1_dummy

In [9]:
db.list_collection_names()

['hello_test_1', 'test_1_review']

In [10]:
collection = db.test_1_review

# SELECT

In [21]:
# db = datascience_batch_1_dummy
# table = test_1_review
# # SELECT * FROM test_1_review;


for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873de6f3f2764c157da2bce'), 'name': 'Monal'}
{'_id': ObjectId('6873de943f2764c157da2bcf'), 'name': 'Monal_2', 'phone_no': '99999'}
{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [41]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [22]:
query = {
    "category" : "smartphone"
}

for i in collection.find(query):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [24]:
query = {
    "category" : "smartphone",
    "price" : {"$gt" : 0}
}

for i in collection.find(query):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e49c035d5cd885dee545'), 'name': 'pixel 9', 'category': 'smartphone', 'price': 600.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}
{'_id': ObjectId('6873e4af035d5cd885dee546'), 'name': 'pixel 9 pro', 'category': 'smartphone', 'price': 800.1, 'features': ['display-oled', '3-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

# INSERT

In [20]:
new_product = {
    "name" : "samsung tab 4",
    "category" : "tablet",
    "price" : 800.100,
    "features" : ["display-oled", "2-camera"],
    "manufacturer" : {
        "name" : "xyz tech",
        "country" : "china"
    }
}

result = collection.insert_one(new_product)
print(f"Inserted document ID : {result.inserted_id}")

Inserted document ID : 6873e4d9035d5cd885dee547

# DELETE

In [28]:
query = {
    "name" : "Monal",
}

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 1 documents.

In [38]:
query = {
    "name" : {"$regex" : "monal", "$options" : "i"}
}

# regex --> regular expression
# $option : i --> case-insensetive

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 1 documents.

In [40]:
query = {
    "name" : {"$regex" : "pixel", "$options" : "i"}
}

# regex --> regular expression
# $option : i --> case-insensetive

result = collection.delete_many(query)

print(f"Deleted {result.deleted_count} documents.")

Deleted 2 documents.

# UPDATE

In [42]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}

In [43]:
query_filter = {
    "name" : {"$regex" : "16", "$options" : "i"}
}

update_operation = {
    "$set" : {
        "category" : "smartphone_latest"
    }
}

result = collection.update_many(query_filter, update_operation)

print(f"Matched {result.matched_count} documents and modified {result.modified_count} documents.")

Matched 2 documents and modified 2 documents.

In [44]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('6873e42a035d5cd885dee542'), 'name': 'iphone 16', 'category': 'smartphone_latest', 'price': 1200.1, 'features': ['2-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e463035d5cd885dee543'), 'name': 'iphone 16 plus', 'category': 'smartphone_latest', 'price': 1400.1, 'features': ['3-camera', 'display-retina'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e47b035d5cd885dee544'), 'name': 'iphone watch 3', 'category': 'smartwatch', 'price': 400.1, 'features': ['display-oled'], 'manufacturer': {'name': 'foxconn tech', 'country': 'china'}}
{'_id': ObjectId('6873e4d9035d5cd885dee547'), 'name': 'samsung tab 4', 'category': 'tablet', 'price': 800.1, 'features': ['display-oled', '2-camera'], 'manufacturer': {'name': 'xyz tech', 'country': 'china'}}